/* body{
    color: black;
} */
#Education{
    /* display: flex; */
    text-align: left;
    
}
.content{
    margin: 100px;
}
h2{
    margin:10px;
    margin-bottom: 20px;
}
h3{
    font-size: 20px;
}