.navbar {
    overflow: hidden;
    background-color:#222222;
    color:white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
  }
  a{
      text-decoration: none;
      font-family: cursive;
  }
  a:hover{
      text-decoration: none;
      color: inherit;
      transform: scale(1.2);
      
  }