.particles{
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: -1;
}
.intro{
  margin-top: 140px;
  text-align: center;
  
}
.wave{
  font-size: 35px ;
  color: white;
}
.Tilt-inner{
  display:inline-block;
  text-align: center;
}
.Tilt{
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
 
}
.App{
  margin-top: 30px;
}
a{
  text-decoration: none;
}